@model IEnumerable<BooksInfo.Entities.BookGiving>

@{
    ViewBag.Title = "InfoWithPaging";
}

<h2>InfoWithPaging</h2>

@foreach (var m in @Model)
{
    <div class="row panel">
        <div class="col-xs-12">
            <h3><strong>@m.BookName</strong></h3>
        </div>
    </div>
}

